h1 {

margin: 0;
padding-bottom: 0.5em;
font: 150% sans-serif;
color: #226;
border-bottom: 3px dotted #77d;
}

td h3 {
  color:#3E267C;
}

img {
  width: 200px;
  hieght: 200px;
  margin-right:15em;

}

td, p {
  margin-right: 100px;
}

.price {
    font-weight: bold;
    color:#6072CA;
}